.menu-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.menu-familyCafe {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-size: 18px;
}

.text-shadow1 {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.menu-familyCafe2 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-size: 24px;
  font-style: italic;
}

.dm-sans-address {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-address {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.image-wrap {
    position: relative;
}

.my-bg-color{
    background-color: #f5eee6;
}

.my-color, .nav-link{
   color:   #6d6d36; /*#FFFDD0;*/
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 200px;
    }
}

.card {
    position: relative;
}

/*.card-body {
    padding-bottom: 60px;
}*/




.icon {
    font-size: 100px;
}

.card:hover {
    border-color: #6d6d36;
    box-shadow: 0 0 25px rgba(109,109,54,.35);
}

.photo-wrapper {
    position: relative;
    overflow: hidden;
}

.photo-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.btn-dynamic {
    background-color: #6d6d36;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.btn-dynamic:hover {
    background-color: #858542;
    box-shadow: 0 8px 20px rgba(109,109,54,.45);
    transform: translateY(-4px) scale(1.05);
}

.btn-dynamic:active {
    transform: translateY(0) scale(0.98);
}

.nav-link-custom {
    /*color: #6d6d36;*/
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link-custom:hover {
    /*color: #6d6d36;*/
    transform: translateY(-3px);
}


/* плавная линия снизу */
.nav-link-custom::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #6d6d36;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link-custom:hover::after {
    width: 100%;
}

.social-icon {
    font-size: 32px;
    /*color: #333;*/
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #F55353;
    transform: scale(1.2) translateY(-5px);
    text-shadow:
        0 0 5px rgba(109,109,54,.5),
        0 0 15px rgba(109,109,54,.7),
        0 0 25px rgba(109,109,54,.9);
}


/* Логотип */
.tiAmo {
     font-family: "Cormorant Garamond", serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
}

.tiAmo-text-shadow {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Заголовки */
/*.secondTiAmo {
    font-family: 'Cormorant Garamond', serif;
}*/

/* Основной текст */
/*.thTiAmo {
    font-family: 'Montserrat', sans-serif;
}*/

.menu-sticky {
    position: sticky;
    top: 100px; /* отступ от верхней части экрана */
}

.navbar {
    background-color: #f5eee6;
    z-index: 1020;
}

#breakfast,
#salad,
#desserts {
    scroll-margin-top: 140px;
}

@media (max-width: 991.98px) {
    #breakfast,
    #salad,
    #desserts {
        scroll-margin-top: 200px;
    }
}